* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.container { 
    display: flex; 
    width: 100%; 
    flex-grow: 1; 
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding-top: 10px;
    height: 100vh;
    overflow-y: auto;
}

.sidebar .nexify-name {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #fff;
    margin-left: 20px;
}

.sidebar .line {
    border-top: 2px solid #444;
    width: calc(100% - 20px);
    margin-left: 20px;
    margin-bottom: 15px;
}

.sidebar ul {
    list-style-type: none;
    padding-left: 0;
}

.sidebar ul li {
    padding: 5px 10px;
    text-align: left;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    display: block;
    padding: 6px 10px;
    border-radius: 4px;
}

.sidebar ul li a:hover { 
    background-color: #444; 
}

.subgroup {
    list-style-type: none;
    padding-left: 20px;
    display: none;
}

.subgroup li a {
    font-size: 14px;
    font-weight: 500;
    padding: 6px 10px;
}

.subgroup li a:hover { 
    background-color: #555; 
}

.sidebar ul li:hover > .subgroup {
    display: block;
    opacity: 1;
    max-height: 500px;
}

.main-content {
    flex-grow: 1;
    padding: 10px 10px 10px 0;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

h1 { 
    font-size: 20px; 
    margin-left: 5%; 
    color: #444; 
}

.search-bar {
    padding: 8px;
    font-size: 16px;
    width: 40%;
    margin-bottom: 20px;
    margin-top: 1%;
    margin-right: 5%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.order-table {
    width: 90%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.order-table th, .order-table td {
    padding: 8px 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.order-table th {
    background-color: #f1f1f1;
    font-size: 14px;
}

tr:hover { background-color: #f1f1f1; }

.delivery-status {
    padding: 3px 8px;
    border-radius: 4px;
    text-transform: capitalize;
}

.delivery-status.completed { 
    background-color: #66cc66; 
    color: #fff; 
}
.delivery-status.out-for-delivery { 
    background-color: #ffb84d; 
    color: #fff; 
}
.delivery-status.awaiting-pickup { 
    background-color: #ffcc66; 
    color: #fff; 
}
.delivery-status.cancelled { 
    background-color: #ff6666; 
    color: #fff; 
}

@media (max-width: 768px) {
    .container { 
        flex-direction: column; 
    }
    .sidebar { 
        width: 100%; 
        padding: 10px; 
    }
    .main-content { 
        padding: 10px; 
        margin-left: 0; 
    }
    .search-bar { 
        margin-bottom: 15px; 
    }
}

th.ascending::after { 
    content: " ↑"; 
}
th.descending::after { 
    content: " ↓"; 
}
